body {
  background-color: #f2f3f7;
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

form,
select,
input,
button,
textarea {
  font-family: 'Manrope', sans-serif;
}

.date-part label,
.date-part select {
  font-size: .85em;
}

.container {
  width: 80%;
  margin: 4em auto;
}

.builder {
  box-sizing: content-box;
}

.builder,
.date-part,
.billing-form {
  display: flex;
  flex-direction: row;
}

.main-form {
  background: #fff;
  border-radius: 6px;
  margin-right: 1em;
  width: 75%;
  padding: 2em;
}

.date-part {
  justify-content: space-between;
}

.main-form h1 {
  text-align: center;
  font-size: 1.65em;
}

.main-form h1 span {
  color: #8190a0;
}

.billing-form {
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 1.6em 0;
}

.billing-form div {
  width: 48.5%;
}

input,
textarea {
  border: none;
  background: #f5f7f9;
  border-radius: 4px;
  padding: .4em .7em;
}

.bill-from,
.bill-to {
  display: flex;
  flex-direction: column;
}

.bill-from label,
.bill-to label,
.bill-from input,
.bill-to input,
.bill-from textarea,
.bill-to textarea {
  font-size: .85em;
  font-weight: bold;
  margin-bottom: .7em;
}

table {
  width: 100%
}

th {
  text-align: left;
  text-transform: uppercase;
  font-size: .8em;
  padding: .65em 0;
}

.th-row {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  /* background: yellow; */
  padding-bottom: 1em;
}

.aside-btn {
  display: flex;
  flex-direction: row;
}

select {
  border: none;
  background: transparent;
}

th.item {
  width: 48.5%;
  background: orange;
}
